:root {
  --color1: #cfcece;
  /* Color base metálico */
  --color2: #a6a6a6;
  /* Color secundario */
  --color3: #7c7c7c;
  /* Color terciario */
  --color4: #4d4d4d;
  /* Color de sombra */
  --color5: #252525;
  /* Color de texto */
  --font-family: Arial, sans-serif;
  /* Fuente */
  --color-alerta: linear-gradient(221deg, rgba(214,39,39,0.7091211484593838) 5%, rgba(124,124,124,1) 41%);
  /* Degradado de color secundario a color de texto */

}

@font-face {
  font-family: 'titulos';
  src: url('../fonts/fonnts.com-New_Astro_Medium.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--color1);
  color: #333;
  padding-top: 60px;
}

#categorias {
  hr {
    height: 5px;
    border: 1px solid #1a191980;
    background-color: #1a191980;
    border-radius: 5px;
  }

  h3 {
    text-align: center;
    font-family: 'titulos';
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  /* Mantiene el 100% del ancho */
  background-color: var(--color2);
  border-bottom: 1px solid var(--color3);
  z-index: 1000;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.3s ease, padding 0.3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px var(--color5);
  transition: border 1.5s;
}

.header.open-menu {
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 0 transparent;
  transition: border 1.5s;

  .logo h1 {
    font-size: 1.5rem;
    color: var(--color3);

    &::after {
      content: "Configuración";
    }
  }

  .logo img {
    width: 40px;
    height: 40px;
    opacity: 0.3;
  }
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo h1 {
  font-size: 1.5rem;
  color: var(--color5);
  margin-left: 10px;

  &::after {
    content: "ContaHogar";
  }
}

.header .logo img {
  width: 40px;
  height: 40px;
}

.accordion-button {
  background-color: #969696;
  color: #252525;
  border: none;
  border-radius: 5px;
  padding: 5px 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px var(--color5);
}

.accordion-menu {
  display: block;
  background: var(--color2);
  background: linear-gradient(180deg, var(--color2) 48%, var(--color5) 100%);
  position: fixed;
  top: 45px;
  right: 0;
  width: 100%;
  height: 0;
  z-index: 999;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 1.5s, height 1.5s;
}

.accordion-menu.open {
  display: block;
  height: 100%;
  opacity: 1;
  transition: opacity 1.5s, height 1.5s;
}

.accordion-button::after {
  content: "☰";
  /* Cambiar a "X" */
}

.accordion-button.open::after {
  content: "✖";
  /* Cambiar a "☰" */
}

.accordion-menu ul {
  list-style: none;
  padding: 20px;
}

.accordion-menu li {
  margin-bottom: 10px;
  position: relative;
  color: var(--color5);
}

.submenu {
  display: none;
  /* Inicialmente oculto */
  padding-left: 15px;
  color: var(--color3);
  opacity: 0;
  /* Inicialmente oculto */
  transform: translateY(-10px);
  /* Mover hacia arriba para la animación */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Animación suave */
}

.submenu.open {
  display: block;
  /* Mostrar cuando está abierto */
  opacity: 1;
  /* Hacer visible */
  transform: translateY(0);
  /* Mover a su posición original */
}

.submenu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  color: var(--color5);
}

.submenu-toggle.open::after {
  content: "▲";
  /* Cambiar a "X" */
}

.submenu-toggle::after {
  content: "▼";
  /* Cambiar a "▼" cuando está cerrado */
}

section {
  margin: 5px;
  box-shadow: 0 0 20px var(--color4);
  position: relative;

}

.titulo_cards {
  position: absolute;
  top: 0;
  color: var(--color5);
  /* Color del texto */
  font-size: 2rem;
  /* Tamaño de la fuente */
  text-align: center;
  /* Alinear el texto al centro */
  font-weight: bold;
  /* Negrita */
  font-family: 'titulos'
}



.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  padding-top: 40px;
  gap: 10px;
  box-shadow: 0 0 20px var(--color4);
  border-radius: 10px;
}
.card {
  background-color: var(--color3);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color5);
  width: 150px;
  perspective: 1000px;
  /* Añade perspectiva para el efecto 3D */
}
#cuentas {
  .card {
    padding: 0;
    height: 75px;
    perspective: 1000px;/* Añade perspectiva para el efecto 3D */
  }
}



.card h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: var(--color5);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.6s;
  /* Transición para la rotación */
  transform-style: preserve-3d;
  /* Mantiene el 3D en los hijos */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* Oculta la parte trasera cuando no está girada */
  border: none;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color3);
}

.card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color3);
  color: var(--color1);
  transform: rotateY(180deg);
  /* Gira el reverso 180 grados */
  
}

.card.animate .card-inner {

  transform: rotateY(-180deg);
  /* Gira la tarjeta al hacer clic */
  transition: transform 1.5s;
}

.floating-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1100;
  /* Asegura que esté siempre encima */
}

/* Botón flotante */
.floating-button {
  background-color: var(--color2);
  color: var(--color5);
  border: none;
  border-radius: 50%;
  width: 60px;
  /* Ajustar tamaño del botón principal */
  height: 60px;
  /* Ajustar tamaño del botón principal */
  font-size: 30px;
  /* Tamaño del icono '+' */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px var(--color5);
}

.floating-button.open {
  transform: rotate(45deg);
  /* Rotar el botón principal al abrir */
  box-shadow: 0 0 10px rgba(39, 149, 223, 0.89);
  background-color: rgba(197, 42, 21, 0.212);
}

.floating-action {
  background-color: var(--color2);
  color: var(--color5);
  border: none;
  border-radius: 50%;
  width: 50px;
  /* Ajustar tamaño de los botones secundarios */
  height: 50px;
  /* Ajustar tamaño de los botones secundarios */
  font-size: 20px;
  /* Tamaño del icono */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  /* Inicialmente oculto */
  transform: scale(0);
  /* Inicialmente oculto */
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  box-shadow: 0 0 10px rgba(39, 149, 223, 0.89);
}

/* Animaciones de aparición de los botones secundarios */
.floating-button.open~.floating-action.show {
  opacity: 1;
  transform: scale(1);
}

.floating-action:nth-child(2) {
  bottom: 70px;
  /* Ajustar para estar encima del botón principal */
  right: 0;
  /* Alineado a la derecha del botón principal */
  transition-delay: 0.1s;
  /* Retraso para la animación */
}

.floating-action:nth-child(3) {
  bottom: 130px;
  /* Ajustar para estar encima del botón principal */
  right: 0;
  /* Alineado a la derecha del botón principal */
  transition-delay: 0.2s;
  /* Retraso para la animación */
}

.floating-action:nth-child(4) {
  bottom: 190px;
  /* Ajustar para estar encima del botón principal */
  right: 0;
  /* Alineado a la derecha del botón principal */
}

/*LOGIN*/
.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
  background-color: var(--color1);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color4);
}

.login-section h2 {
  margin-bottom: 20px;
  color: var(--color5);
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--color5);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color3);
  border-radius: 5px;
}

.submit-button {
  background-color: var(--color2);
  color: var(--color5);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: var(--color3);
}